<!doctype html>
<html ng-app="myBook">
<head>
  <title>My Book</title>

  <!--Lib scripts-->
  <script src="./lib/angular.min.js"></script>
  <script src="./lib/angular-route.js"></script>
  <link rel="stylesheet" type="text/css" href="./lib/bootstrap.min.css" />

  <script src="app.js"></script>
  <script src="./scripts/login/controller/login_controller.js"></script>
  <script src="./scripts/book_detail/controller/book_detail_controller.js"></script>
  <script src="./scripts/book_detail/controller/feed_controller.js"></script>
  <script src="./scripts/book_detail/controller/profile_controller.js"></script>
  
  <link rel="stylesheet" type="text/css" href="./styles/css/login.css" />
  <link rel="stylesheet" type="text/css" href="./styles/css/book_detail.css" />
  <link rel="stylesheet" type="text/css" href="./styles/css/profile.css" />
  <link rel="stylesheet" type="text/css" href="./styles/css/feed.css" />  
</head>
<body ng-controller="BookController">

<header ng-controller="LoginController">
	<div class="headerTitle">My Book</div>
	<section class="loginSection">
		<form name="myForm"  ng-hide="loggedIn">
			 <input type="text" id="userName" placeholder="User Name" ng-model="user.userName" required/>
			 <input type="password" id="password" placeholder="Password" ng-model="user.password" required/>
			 <input value="Sign In" type="submit" ng-model="loggedIn" ng-click="login()")/>
		</form>
	</section>
	<section class="logoutSection" ng-show="loggedIn">
		<span>Welcome {{user.userName}}</span>
		<input class="logoutButton" type="submit" value="Sign Out" ng-click="logout()"></input>
	</section>
</header>

<main ng-view></main>

<footer>
	<div>Talent Improving exercise, OFS</div>
</footer>

</body>
</html>
