.profile {
	margin-left: 150px;
	padding-top: 25px;
}

.submitButton {
	margin-left: 90px;
}

.profileImage {
	width : 100px;
	height : 100px;
	float : right;
	margin-right : 300px;
}

.reqfield {
	color : red;
}

.ng-invalid.ng-dirty {
	border-color : red;
}