<div class="main" ng-controller="BookDetailController">
	<nav class="menu" ng-init="aside = 'Feed'">
		<button class="navButton" type="button" ng-click="aside = 'Feed'" ng-model="aside">Feed</button>
		<br/>
		<br/>
		<button class="navButton" type="button" ng-click="aside = 'Profile'" ng-model="aside">Profile</button>
	</nav>
	
	<aside id="feed" class="feedPage" ng-controller="FeedController" ng-show="aside === 'Feed'">
		<textarea rows="2" cols="100" id="postFeed" class="feedTextfield" placeholder="Text Feed to URL Feed" ng-model="feedContent"></textarea>
		<button class="feedPostButton" ng-click="createFeed()">Post</button>
		<div ng-repeat="feed in feeds | reverse">
			<feed-detail></feed-detail>
		</div>
	</aside>
	
	<aside id ="profile" class="profile" ng-controller="ProfileController" ng-show="aside === 'Profile'">
			<profile-detail></profile-detail>
	</aside>
<div>
