<div class="profile">
<form class="profile" ng-submit="saveProfile()">
	<div class="form-group">
		<input type="text" ng-model="profile.name" placeholder="Name" required/>
		<span class="reqfield">*</span>
		<span>
			<img class="profileImage" id="profileImage"/>
		</span>
	</div>
	<div class="form-group">
		<input type="number" ng-model="profile.age" placeholder="Age" required/>
		<span class="reqfield">*</span>
	</div>
	<div class="form-group">
		<input type="number" ng-model="profile.phone" placeholder="Phone" required/>
		<span class="reqfield">*</span>
	</div>
	<div class="form-group">
		<input type="email" ng-model="profile.email" placeholder="Email" required/>
		<span class="reqfield">*</span>
	</div>
	<div class="form-group">
		<textarea rows="4" cols="30" id="profile.address" ng-model="profile.address" placeholder="Address"></textarea>
	</div>
	<div class="form-group">
		<input type="file" class="profileForm" ng-model="profile.photoPreview" onchange="angular.element(this).scope().addPhoto(this)"  />
	</div>
	</br>
	<div class="form-group">
		<input type="submit" value="Save" id="saveProfileButton" class="submitButton" ng-disabled="error"/>
	</div>	
</form> 
<div>